<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                C'est un petit blog que nous avons créé avec notre formateur Cyril.
            </div>
        </div>
    <div>
</footer>