{% extends "base.twig" %}

{% block content %}
<div class="container pt-3">
    <div class="row">
        <h1 class="col-12 text-center">Bienvenue</h1>

        <div class="col-12 mt-3 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Alexandra_Daddario_2016.jpg/640px-Alexandra_Daddario_2016.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}