<nav class="navbar navbar-expand-md">
  <a class="navbar-brand">ZhenBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if parameters['nav']=='home' %}active{% endif %}">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item {% if parameters['nav']=='introduction' %}active{% endif %}">
        <a class="nav-link" href="/introduction">Introduction</a>
      </li>
      <li class="nav-item {% if parameters['nav']=='articles' %}active{% endif %}">
        <a class="nav-link" href="/articles">Blog</a>
      </li>
      {% if parameters["session"]["user"] is defined and parameters["session"]["user"]["status"]=="ADMIN" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if parameters['nav']=='create' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/creer_un_article">Les articles</a>
          <a class="dropdown-item" href="/creerunecategory">Les catégories</a>
        </div>
      </li>
      {% endif %}
    </ul>
    <div>
    {% if parameters["session"]["user"] is defined %}
      <a class="{% if parameters['nav']=='logout' %}active{% endif %}" href="/deconnexion">Déconnexion</a>
    {% else %}
      <a class="{% if parameters['nav']=='login' %}active{% endif %}" href="/connexion">Connexion</a>
      <a class="{% if parameters['nav']=='logup' %}active{% endif %}" href="/inscription">Inscription</a>
      {% endif %}
    </div>
  </div>
  
</nav>