{% extends "base.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <img src="https://media.istockphoto.com/vectors/error-404-page-not-found-vector-id673253106" alt="">
    </div>
</div>

{% endblock %}